# Mac
.DS_Store

# Nushell
/history.txt

# Output Files
*.json
*.log

# Scripts
*.nu
!/completions/**
!/config.nu
!/default_*.nu
!/env.nu
!/features/**
!/modules/**
!/scripts/**

# VSCode
!/.vscode/**
